<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAudioCaptureUsageDescription</key>
	<string>PopNotch reads system audio to display a live music visualizer.</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Yuwa709/PopNotch/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>/1JixFY2PzdvZHpqaL4BgfNbL9YLdShxrWQUi7LoVL4=</string>
</dict>
</plist>
